.about {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  text-align: center;

  .description {
    padding: 2rem;
  }

  background-size: cover;
  &__name {
    font-size: 5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid set-text-color($primary-color);

    &--last {
      color: $secondary-color;
      font-weight: 700;
    }
  }
}

.update-image {
  width: 20vw;
}
