.contact {
  min-height: 100vh;
}
.contact,
.modal-content,
.profile {
  input[type="text"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: $primary-color;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: $primary-color;
  }

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin-top: 1rem;
    padding: 20px;
  }
}

.contact-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: $font-primary;
  align-items: center;
  min-width: 90vw;
  max-width: 90vw;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead tr {
    background-color: $primary-color;
    color: #ffffff;
    text-align: left;
  }

  th,
  td {
    padding: 12px 15px;
  }
  tbody {
    tr {
      border-bottom: 1px solid #dddddd;
    }
    tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tr:last-of-type {
      border-bottom: 2px solid $primary-color;
    }
  }
}
