.experience {
  &__t {
    align-items: center;
    text-align: center;
  }

  .job {
    width: 90%;
    margin: 1rem;
    padding: 1rem;
    border-bottom: solid 2px $light-gray;
    &__title {
      font-weight: 400;
    }
    &__date,
    &__city {
      font-weight: 400;
    }
  }
}
