.projects {
  padding-bottom: 2rem;
  align-items: center;
  text-align: center;

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &__item {
    position: relative;

    border-bottom: 5px solid $secondary-color;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    color: $white;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  &__btn {
    opacity: 0;
    color: $white;
    @include transition-ease;
  }
}
